img{
	margin: auto;
    display: block;
}

.error {
    position: absolute;
    z-index: 1029;
    top: 25%;
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
    background-color: red;
    height: 50%;
    color: #ffffff;
    text-align: center;
    
}

.error > p{
	vertical-align: middle;
	font-size: 300%;
}

.progress{
	height: 1.5rem !important;
	margin-bottom: 0.25rem !important;
}

.progress-type{
	height: 3rem !important;
}

.strokeme {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.flex-align {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.placeholder-row{
	  height: 0.5rem;
}

.type-eff{
	 display: inline-block;
}

.type-matchup{
	text-align: center;
}
  
  
/***************
* Move table
***************/
table{
	width: 100%;
}
.type{
	width: 20%
} 
.category{
	width: 20%
}  
.power{
	width: 20%
} 
.accuracy{
	width: 13.33%
} 
.priority{
	width: 13.33%
} 
.pp{
	width: 13.33%
} 
  

/***************
* Type borders
***************/
.type-defensive8, .type-offensive0{
	border: 0.25rem solid #dc3545; /* red */
}
.type-defensive4, .type-offensive025{
	border: 0.25rem solid #dc3545;  /* red */
}
.type-defensive2, .type-offensive05{
	border: 0.25rem solid #ffc107; /* yellow */
}
.type-defensive05, .type-offensive2{
	border: 0.25rem solid #28a745; /* green */
}
.type-defensive025, .type-offensive4{
	border: 0.25rem solid #007bff; /* blue */
}
.type-defensive0, .type-offensive8{
	border: 0.25rem solid #007bff; /* blue */
}
.type-neutral{
	border: 0.25rem solid #000000;
}
.type-neutral medium{
	padding-top: 0.5rem;
}
  
  
  
/***************
* Backgrounds
***************/
 
.bg-None{
	background-color: #ffffff;
} 
.bg-Steel{
	background-color: #cecfc6;
}
.bg-Rock{
	background-color: #6e6c49;
}
.bg-Fighting{
	background-color: #804808;
}
.bg-Normal{
	background-color: #ede4e4;
}
.bg-Dark{
	background-color: #363030;
}
.bg-Grass{
	background-color: #299e46;
}
.bg-Flying{
	background-color: #80e6ed;
}
.bg-Psychic{
	background-color: #bf49b5;
}
.bg-Ice{
	background-color: #6ad6f7;
}
.bg-Fire{
	background-color: #b5122b;
}
.bg-Water{
	background-color: #0f39d4;
}
.bg-Electric{
	background-color: #f5ed0a;
}
.bg-Ground{
	background-color: #d68e4b;
}
.bg-Poison{
	background-color: #6f1dad;
}
.bg-Ghost{
	background-color: #d279f7;
}
.bg-Dragon{
	background-color: #6169ad;
}
.bg-Fairy{
	background-color: #ff85f5;
}
.bg-Bug{
	background-color: #64de84;
}